@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

$image_size: 45px;
body {
	background-color: #222;
}

.cell {
	width: $image_size;
	height: $image_size;

	// i sure do love this, totally.
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.container {
	background-color: #555;
	margin: auto;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cmenu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background-color: #666; // screaming emoji!!! 666!! devil numberr!!!
	border-radius: 5px;
	text-align: center;
	font-family: 'Fredoka', sans-serif;
	color: #fff;

	transform: scale(0);
	transform-origin: top left;
	// transition: transform 200ms ease-in;

	border: #000 1px;

	.item {
		padding: 8px 10px;
		font-size: 15px;
		color: #eee;
		background-color: #555;
		cursor: pointer;
		border-radius: inherit;
		text-align: center;

		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			background-color: #333;
		}
	}

	&.visible {
		transform: scale(1);
		transition: transform 200ms ease-out;
	}
}