$image_size: 45px;
body {
	background-color: #222;
}

.cell {
	width: $image_size;
	height: $image_size;

	// i sure do love this, totally.
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.container {
	background-color: #555;
	margin: auto;
}

.cmenu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background-color: #555;
	border-radius: 5px;

	.item {
		padding: 8px 10px;
		font-size: 15px;
		color: #eee;
		cursor: pointer;
		border-radius: inherit;
		&:hover {
			background-color: #333;
		}
	}
}